@using SupplierList.Web.Features.Suppliers.Resources;
@using SupplierList.Business.Interface.Features.Suppliers.Models;
@model SupplierList.Web.Features.Suppliers.Models.IndexModel
@{
    ViewData["Title"] = "Supplier list";
}
@using (Html.BeginForm("Index", "Suppliers", FormMethod.Post))
{
    <div class="form-inline">
        <label asp-for="SelectedGroupId"></label>
        <select asp-for="SelectedGroupId" asp-items="Model.Groups" class="form-control"></select>
        <button type="submit" class="btn btn-primary form-control">@SupplierFormRX.Submit</button>
    </div>
}
<div class="container-fluid">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @SupplierFormRX.Name
                </th>
                <th>
                    @SupplierFormRX.Address
                </th>
                <th>
                    @SupplierFormRX.Email
                </th>
                <th>
                    @SupplierFormRX.Phone
                </th>
            </tr>
        </thead>
        @foreach (SupplierModel supplierModel in Model.Suppliers)
        {
            <tr>
                <td>
                    @supplierModel.Name
                </td>
                <td>
                    @supplierModel.Address
                </td>
                <td>
                    @supplierModel.Email
                </td>
                <td>
                    @supplierModel.Phone
                </td>
                <td class="btn-group">
                    <a asp-controller="Suppliers"
                       asp-action="EditSupplier"
                       asp-route-supplierId="@supplierModel.SupplierId"
                       class="btn btn-primary"
                       title="@SupplierFormRX.Edit">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a asp-controller="Suppliers"
                       asp-action="DeleteSupplier"
                       asp-route-supplierId="@supplierModel.SupplierId"
                       class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </td>
            </tr>
        }
    </table>
    <div class="row">
        <div class="col-md-2 pull-right">
            <a asp-controller="Suppliers" asp-action="AddSupplier" class="btn btn-primary">@SupplierFormRX.AddSupplier</a>
        </div>
    </div>
</div>